body{
  background: #1c1c1e;
}
h1, p{
  color: white;
  background: #1c1c1e;
}
div{
  padding: 10px;
  background: #1c1c1e;
}
canvas{
  background: FloralWhite;
  border: 1px solid DimGray;
}
@media (resolution = 3dppx){
  h1{
    color: lightblue;
  }
}